body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f4f4f4;
   font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    width: 250px;
    background-color: white;
    border-radius: 8%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#display {
    width: 230px;
    height: 50px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 15px;
    margin-right: 2px;
    margin-bottom: 5px;;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.btn:active {
    background-color: #ddd;
}

.btn-operator {
    background-color: orange;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    width: 60px;
}

.btn-operator:active {
    background-color: pink;
}

.clear {
    background-color: red;
    color: white;
    padding: 15px;
    width: 50%;
}

.clear:active {
    background-color: darkred;
}



